
*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  background-image:url('http://www.designbolts.com/wp-content/uploads/2013/02/Free-Seamless-Wood-Textures-Patterns-For-3D-Mapping-2.jpg');
}

body{
   -webkit-font-smoothing: antialiased;
}

#wrapper{
  width: 100%;
  height:100%;
  background: hsla(0,0%,5%,.5);
  visibility:hidden;
}

#contactDiv{
	position:fixed;
	top:190px;
	left:50%;
	margin-left: -200px;
	perspective:1000;
}

#container-contact{
	box-shadow: 0px 2px 10px hsla(0,0%,10%,1);
  position: relative;
	width: 400px;
	height: 280px;
	transform-style: preserve-3d;
  z-index:-6;
  border-radius:5px;
  transform: rotate(3deg);
}

#contactDiv:hover{
  transition:all .4s ease-in-out;
  cursor: pointer;
  transform: rotate(-2deg);
}

.face{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	backface-visibility:hidden;

}

.front{
  background-image: -webkit-repeating-linear-gradient(150deg, #ff6969, #ff6969 20px,#ffffff 0px,#ffffff 40px,#85adff 0px,#85adff 60px,#ffffff 0px,#ffffff 80px);
  background-image: -moz-repeating-linear-gradient(150deg, #ff6969, #ff6969 20px,#ffffff 0px,#ffffff 40px,#85adff 0px,#85adff 60px,#ffffff 0px,#ffffff 80px);
  background-image: repeating-linear-gradient(150deg, #ff6969, #ff6969 20px,#ffffff 0px,#ffffff 40px,#85adff 0px,#85adff 60px,#ffffff 0px,#ffffff 80px);
	z-index: 20;
  border-radius:5px;

}

#white{
  width:95%;
  height:90%;
  margin-right: auto;
  margin-left:auto;
  margin-top: -5px;
	background:hsla(54,0%,96%,1);
  border-radius:5px;
}

.front h1{
	color: #948D88;
	text-shadow: 0px 1px 1px hsla(0,0%,100%,1);
	font-size: 2em;
  line-height: 1em;
	text-align: center;
	padding-top: 100px;
}

.front h1 span{
	color: #948D88;
	text-shadow: 0px 1px 1px hsla(0,0%,100%,1);
	font-size: .8em;
	text-align: center;
}

.back{
	background: -webkit-linear-gradient(top, hsla(54,0%,96%,1) 0%, hsla(54,0%,56%,1) 100%);
	transform:rotateY(-180deg);

}

#openDiv{
	position: absolute;
	top:4px;
	left:0;
	height: 0;
	width: 80px;
	border-top: 157px solid hsla(0,0%,85%,1);
	border-left: 200px solid transparent;
	border-right: 201px solid transparent;
  transform-origin:center top;
	z-index: 10;
}

#foldsDiv{
	position: absolute;
	top:0px;
	left:0px;
	width: 0;
	height: 0;
	border-left: 180px solid hsla(0,0%,90%,1);
	border-top: 140px solid transparent;
	border-bottom: 140px solid transparent;
	z-index: 5;
}

#foldsDiv:after{
	content: "";
	position: absolute;
	bottom:-140px;
	left:-181px;
	height: 0;
	width: 80px;
	border-bottom: 155px solid hsla(0,0%,95%,1);
	border-left: 201px solid transparent;
	border-right: 201px solid transparent;

}

#foldsDiv:before{
	content: "";
	position: absolute;
	top:-140px;
	right:-220px;
	width: 0;
	height: 0;
	border-right: 202px solid hsla(0,0%,90%,1);
	border-top: 140px solid transparent;
	border-bottom: 140px solid transparent;

}

.button{
    border-radius:8px;
    width: auto; height: auto;
    padding: 0 1em;
    border-bottom: 4px solid #EDC951;
    position: relative;
    z-index: 11;
    transition: none;

    background-color: #EDC951;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 -1px 1px #EDC951;
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    display: inline-block;
    transition:all .2s ease-in-out;
}
.button:active{
  top: 3px;
  border-bottom: none;
}

.button.active{
  background-color: #EDC951;
}

.button:hover{
  background-color: #EDC951;
}

.button.con{
    margin-left: 140px;
    margin-top:105px;
}

.button.send{
    margin-left: 120px;
    margin-top:5px;
}

#letter{
	background: -webkit-linear-gradient(top, hsla(54,0%,96%,1) 0%,hsla(0,0%,98%,1) 70%,hsla(0,0%,95%,1) 100%);
	box-shadow: 0px 2px 5px hsla(0,0%,10%,1);
	border-radius: 5px;
	position: absolute;
	top:3px;
	left:0;
	margin: 0 0 0 5px;
	width: 390px;
	height: 200px;
	overflow: hidden;
	z-index: 1;
}

#letter hgroup{
	margin-top:20px;
}


#letter hgroup h1{
	font-size: 1.8em;
	color: #E65A5A;
	text-align: center;
	text-shadow: 0px 2px 1px hsla(0,0%,100%,1);
}

#letter hgroup h2{
	font-size: 1em;
	color: hsla(0,0%,70%,1);
  margin-top:-20px;
	text-align: center;
	text-shadow: 0px 1px 1px hsla(0,0%,100%,1);
}

form {
    margin-left:auto;
    margin-right:auto;
    width: 350px;
    height:900px;
    padding:30px;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
}

textarea{
    width: 300px;
    max-width:95%;
    min-height: 110px;
    max-height: 10%;
    border-radius: 10px;
    background-clip: padding-box;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
  border: 1px solid #B4BDCF;
  background: #D4E1FC;
  box-shadow: inset 0 0 7px #A2AABA, 0 -3px 3px #b9b9b5, 0 4px 4px #f4f4f4;
}

select {
    width: 70%;
    height: 48px;
    line-height: 1.5;
    border-radius: 10px;
    color: #fff;
    display: block;
    background: transparent;
    background-color: rgba(0,0,0,.4);
    margin-bottom: 20px;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  border: 1px solid #B4BDCF;
  background: #D4E1FC;
  box-shadow: inset 0 0 7px #A2AABA, 0 -3px 3px #b9b9b5, 0 4px 4px #f4f4f4;

}



.nameinput, .emailinput {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-clip: padding-box;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  border: 1px solid #B4BDCF;
  background: #D4E1FC;
  box-shadow: inset 0 0 7px #A2AABA, 0 -3px 3px #b9b9b5, 0 4px 4px #f4f4f4;

}

input[type=submit] {
    cursor: pointer;
}

input.nameinput {
	  padding-left: 20px;
}

input.emailinput {
	  padding-left: 20px;
}

input.message {
	  padding-left: 20px;
}

select.indent {
	  padding-left: 20px;
    cursor: pointer;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{
    color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

textarea, input, .indent { outline: none; }

input:focus, textarea:focus, .indent:focus{
     background: #ADC6FF;
     box-shadow: 0 0 1px 3px #FCB8B8;
     border: 1px solid #FCB8B8;
     overflow: hidden;
}

@media screen and (max-width: 992px) {
    #container-contact {
       width: 291px;
       height: 229px;
	}
    #contactDiv {
       margin-left: -145px;
	}
   .front h1 {
       padding-top: 68px;
	}
    #openDiv {
	    position: absolute;
	    top: 5px;
	    left: 0;
	    height: 0;
	    width: 80px;
	    border-top: 123px solid hsla(0,0%,85%,1);
	    border-left: 152px solid transparent;
	    border-right: 151px solid transparent;
	    transform-origin: center top;
	    z-index: 10;
	}
    #foldsDiv:after {
	    content: "";
	    position: absolute;
	    bottom: -114px;
	    left: -146px;
	    height: 0;
	    width: 80px;
	    border-bottom: 140px solid hsla(0,0%,95%,1);
	    border-left: 146px solid transparent;
	    border-right: 159px solid transparent;
	}
    #foldsDiv {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 0;
	    height: 0;
	    border-left: 144px solid hsla(0,0%,90%,1);
	    border-top: 120px solid transparent;
	    border-bottom: 120px solid transparent;
	    z-index: 5;
	}
    #foldsDiv:before {
	    content: "";
	    position: absolute;
	    top: -119px;
	    right: -158px;
	    width: 0;
	    height: 0;
	    border-right: 146px solid hsla(0,0%,90%,1);
	    border-top: 116px solid transparent;
	    border-bottom: 116px solid transparent;
	}
    .button.con {
	    margin-left: 105px;
	    margin-top: 79px;
	}
    .nameinput, .emailinput {
	   width: 236px;
	}
    textarea {
    	width: 236px;
	}
    .button.send {
    	margin-left: 85px;
	}
    #letter {
	width: 296px;
	}
}
